snippet lk "insert link"
[${1:}](${2:})
endsnippet

snippet im "insert image"
![${1:}](${2:} "${3:}")
endsnippet

snippet ims "insert image with size"
<img width="${1:}" alt="${2:}" src="${3:}">
endsnippet

snippet cl "insert image with size"
<font color="${1:}">${2:}</font>
endsnippet
